//css header and hero
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        .modal-header-4-2.modal {
          top: 2rem;
        }
        .header-4-2 .navbar,
        .hero-header-4-2 {
          padding: 1rem 2rem;
        }
        .header-4-2 .navbar-light .navbar-nav .nav-link {
          font-size: 18px;
          color: #1d1e3c;
          font-weight: 300;
          line-height: 1.5rem;}
          .header-4-2 .navbar-light .navbar-nav .nav-link:hover {
          font-size: 18px;
          color: #1d1e3c;
          font-weight: 600;
          line-height: 1.5rem;}
          .header-4-2 .navbar-light .navbar-nav .active > .nav-link,
          .header-4-2 .navbar-light .navbar-nav .nav-link.active,
          .header-4-2 .navbar-light .navbar-nav .nav-link.show,
          .header-4-2 .navbar-light .navbar-nav .show > .nav-link {
          font-weight: 600;
        }
        .header-4-2 .navbar-light .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        .header-4-2 .navbar-light .navbar-toggler {
          border: none;
        }
        .modal-content-header-4-2 .modal-header,
        .modal-content-header-4-2 .modal-footer {
          border: none;
        }
        .btn:focus, .btn:active {
          outline: none !important;
        }
        .btn-fill-header-4-2 {
          background-color: #fab005;
          border-radius: 12px;
          color: #ffffff;
          font-weight: 600;
          padding: 12px 32px 12px 32px;
          font-size: 18px;
        }
        .btn-fill-header-4-2:hover {
          background-color: #fc9300;
          color: #ffffff;
          --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
        .btn-no-fill-header-4-2{
          color: #1D1E3C;
          font-weight: 300; 
          line-height: 1.75rem;
          padding: 12px 32px 12px 32px;
          font-size: 18px;
        }
        .modal-header-4-2 .modal-dialog .modal-content {
          border-radius: 8px;
          background-color: #FFFFFF;
          border: none;
        }
        .responsive-header-4-2 li a {
          padding: 1rem 1rem;
        }
        .text-caption-header-4-2 {
          margin-bottom: 2rem;
          line-height: 1.625;
          font-size: 0.875rem;
          line-height: 1.25rem;
          font-weight: 600;
          color: #27C499;
        }
        .left-column-header-4-2{
          margin-bottom: 0.75rem;
          width: 100%;
        }
        .right-column-header-4-2{
          width: 100%;
        }
        .title-text-big-header-4-2{
          font-weight: 600;
          margin-bottom: 2rem;
          font-size: 2.25rem;
          line-height: 2.5rem;
          color: #272E35;
        }
        .title-text-small-header-4-2{
          font-weight: 600;
          margin-bottom: 2rem;
          font-size: 2.25rem;
          line-height: 2.5rem;
          color: #272E35;
          padding-left: 0;
          padding-right: 0;
        }
        .div-button-header-4-2{
            margin-left: 0;
            margin-right: 0;
        }
        .btn-try-header-4-2{
          font-weight: 600;
          color: #FFFFFF;
          padding: 1rem 1.5rem 1rem 1.5rem;
          font-size: 1rem;
          line-height: 1.5rem;
          border-radius: 0.75rem;
          background-color: #fab005;
          margin-bottom: 1rem;
          margin-right: 0;
        }
        .btn-try-header-4-2:hover{
          background-color: #fc9300;
          color: #FFFFFF;
          --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        }
        .btn-outline-header-4-2{
          font-weight: 400;
          border: 1px solid #555B61;
          color:#555B61;
          padding: 1rem 1.5rem 1rem 1.5rem;
          font-size: 1rem;
          line-height: 1.5rem;
          border-radius: 0.75rem;
          background-color: transparent;
          margin-bottom: 1rem;
        }
        .btn-outline-header-4-2:hover{
            border: 1px solid #fab005;
            color: #fab005;
        }
        .btn-outline-header-4-2:hover div path{
          fill: #fab005;
        }
        @media (min-width: 576px) {
          .modal-header-4-2 .modal-dialog {
            max-width: 95%;
            border-radius: 12px;
          }
          .header-4-2 .navbar {
            padding: 3rem 2rem;
          }
          .hero-header-4-2 {
            padding: 3rem 2rem 5rem 2rem;
          }
          .title-text-big-header-4-2{
            font-size: 3rem;
            line-height: 1.2;
          }
          .title-text-small-header-4-2{
            font-size: 3rem;
            line-height: 1.2;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
          .div-button-header-4-2{
            margin-left: 0;
            margin-right: 0.75rem;
          }
          .btn-try-header-4-2{
            margin-bottom: 0;
            margin-right: 0.75rem;
          }
          .btn-outline-header-4-2{
            margin-bottom: 0;
          }
        }
        @media (min-width: 768px) {
          .header-4-2 .navbar {
            padding: 3rem 4rem;
          }
          .hero-header-4-2 {
            padding: 3rem 4rem 5rem 4rem;
          }
          .left-column-header-4-2{
            margin-bottom: 3rem;
          }
          .title-text-small-header-4-2{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
          .div-button-header-4-2{
            margin-left: 0;
            margin-right: 0.5rem;
          }
          .btn-try-header-4-2{
            margin-right: 0.5rem;
          }
        }
        @media (min-width: 992px) {
          .header-4-2 .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 1.25rem;
            padding-left: 1.25rem;
          }
          .header-4-2 .navbar {
            padding: 3rem 6rem;
          }
          .hero-header-4-2 {
            padding: 3rem 6rem 5rem 6rem;
          }
          .left-column-header-4-2{
            width: 50%;
            margin-bottom: 0;
          }
          .right-column-header-4-2{
            width: 50%;
          }
          .title-text-big-header-4-2{
            font-size: 3.75rem;
            line-height: 1.2;
          }
          .title-text-small-header-4-2{
            font-size: 3.75rem;
            line-height: 1.2;
          }
          .div-button-header-4-2{
            margin-left: 0;
            margin-right: 2rem;
          }
          .btn-try-header-4-2{
            margin-right: 2rem;
          }
        }

// css product
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.btn:focus,
.btn:active {
    outline: none !important;
}


.tampil-product{
    text-decoration: none;
    color: #121212;
}
.tampil-product:hover{
    color: #121212;
}

.col{
  max-width: 350px;
  min-height: 600px;
  max-height: 600px;
  img{
    max-width: 350px;
  }
}
.card-block-content-2-2{
  padding-top: 1rem !important;
}
.title-text-content-2-2{
  margin-bottom: 1rem !important;
}
.btn-content-3-2 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    padding: 1rem 2.5rem 1rem 2.5rem;
    background-color: #fab005;
    transition: 0.3s;
    letter-spacing: 0.025em;
    border-radius: 0.75rem;
}

.btn-content-3-2:hover {
    color: #FFFFFF;
    background-color: #fc9300;
    transition: 0.3s;
    
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .title-text-content-3-2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 992px) {
    .img-hero-content-3-2 {
        width: 50%;
        margin-bottom: 0;
    }

    .right-column-content-3-2 {
        width: 50%;
    }

    .circle-content-3-2 {
        margin-right: 1.25rem;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {

}


// how to order
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn:focus,
.btn:active {
  outline: none !important;
}

.title-text-content-2-2 {
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.text-title-content-2-2 {
  color: #121212;
  margin-bottom: 0.625rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}

.text-caption-content-2-2 {
  color: #121212;
  font-weight: 300;
}

.column-content-2-2 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.icon-content-2-2 {
  margin-bottom: 1.5rem;
}

.icon-content-2-2-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
  color: #121212;
}

.icon-content-2-2-caption {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.025em;
  color: #565656;
}

.card-block-content-2-2 {
  padding: 1rem 1rem 5rem 1rem;
}

.card-content-2-2 {
  padding: 1.75rem;
  background-color: #EEF6F4;
  border-radius: 0.75rem;
  border: 1px solid #27C499;
}

.card-content-2-2-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.625rem;
  color: #000000;
  font-weight: 600;
}

.card-content-2-2-caption {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #565656;
  letter-spacing: 0.025em;
  font-weight: 300;
  margin-bottom: 0;
}

.btn-card-content-2-2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #27C499;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
}

.btn-card-content-2-2:hover {
  color: #ffffff;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn-outline-content-2-2 {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #979797;
  border: 1px solid #979797;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.75rem;
}

.btn-outline-content-2-2:hover {
  border: 1px solid #27C499;
  color: #27C499;
}

.card-text-content-2-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.grid-padding-content-2-2 {
  padding: 0rem 1rem 3rem 1rem;
}

@media (min-width: 576px) {
  .grid-padding-content-2-2 {
    padding: 0rem 2rem 3rem 2rem;
  }

  .card-block-content-2-2 {
    padding: 3rem 2rem 5rem 2rem;
  }
}

@media (min-width: 768px) {
  .grid-padding-content-2-2 {
    padding: 0rem 4rem 3rem 4rem;
  }

  .card-block-content-2-2 {
    padding: 3rem 4rem 5rem 4rem;
  }
}

@media (min-width: 992px) {
  .grid-padding-content-2-2 {
    padding: 1rem 6rem 3rem 6rem;
  }

  .card-block-content-2-2 {
    padding: 3rem 6rem 5rem 6rem;
  }

  .column-content-2-2 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .grid-padding-content-2-2 {
    padding: 1rem 10rem 3rem 10rem;
  }

  .card-block-content-2-2 {
    padding: 3rem 6rem 5rem 6rem;
  }

  .card-btn-space-content-2-2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .btn-card-content-2-2 {
    width: 95%;
    float: right;
  }

  .btn-outline-content-2-2 {
    width: 95%;
    float: right;
  }
}

@media (max-width: 980px) {
  .card-btn-space-content-2-2 {
    width: 100%;
  }
}

