body {
  background-color: white;
  font-family: 'Assistant',sans-serif;
  color: #071c4d;
}

#hnav {
  height: 70px;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-login {
  background-color: #071c4d;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #ff9e53;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #071c4d;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071c4d !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -9px !important;
  margin-right: -16px !important;
  height: 70px;
  border-radius: 0;
}

header {
  padding: 150px 0 95px;
  margin-top: -70px;
  background-image: url("../img/header.jpg");
  background-size: cover;
}

header h1, header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 50px;
}

header p {
  font-size: 22px;
}

header .btn-get-started {
  background-color: #ff9e53;
  color: #ffffff;
}

header .btn-get-started:hover {
  background-color: #071c4d !important;
  color: #ffffff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 150px;
}

.section-popular .section-popular-heading h2, .section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 26px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #ff9e53;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #071c4d !important;
  color: #ffffff;
}

.section-network {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-network h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-network p {
  font-size: 18px;
}

.section-network img {
  max-width: 100%;
}

.section-testimoni-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ff9e53));
  background: linear-gradient(#fff 0%, #ff9e53 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimoni-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimoni-heading p {
  font-size: 18px;
}

.section-testimoni-content {
  margin-top: -300px;
  padding-bottom: 50px;
}

.section-testimoni-content .card-testimoni {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimoni-content .testimoni-content {
  min-height: 380px;
}

.section-testimoni-content h3 {
  font-size: 22px;
}

.section-testimoni-content .testimoni {
  font-weight: 200px;
  font-size: 26px;
  color: #6e6e6e;
}

.section-testimoni-content .trip-to {
  font-weight: normal;
  font-size: 22px;
  color: #6e6e6e;
}

.section-testimoni-content hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimoni-content .btn-get-started {
  background-color: #ff9e53;
  color: #ffffff;
}

.section-testimoni-content .btn-get-started:hover {
  background-color: #071c4d !important;
  color: #ffffff;
}

.section-testimoni-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
}

.section-testimoni-content .btn-need-help:hover {
  background-color: #071c4d !important;
  color: #ffffff;
}

.section-footer a {
  color: #071c4d;
}
/*# sourceMappingURL=main.css.map */